// Colors

// primary
$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

// neutral
$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$myGrayishBlue: hsl(211, 10%, 60%);
$mySecondGrayishBlue: hsl(211, 10%, 80%);
$lightGray: hsl(223, 19%, 90%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

// Typography

// font size
$fontSize: 16px;

// font family
$fontFamily: "Rubik", sans-serif;

// font weight
$lightWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;
